body {
	@include tahoma;
	background-image: url("../i/bg_page.jpg");
}

a {
	color:$link-color;
	@include animation;
}

a:hover {
	color: $d-red-color;
}

%center {
	width: $page-width;
	margin: 0 auto;
}