@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic);

@import "settings";
@import "base";
@import "layout";
@import "layout_nav";

// _layout.scss

.header {
	background-color: $white-color;
	margin-top: 45px;
}

.header-center {
	@extend %center;
	height:90px;
}

.header-logo {
	float: left;
	margin-top: 19px;
}

.header-phone {
	float: right;
	margin-top:30px;
	width: $b-size;
	font-size: 11px;
}

.header-phone-big {
	font-weight: bold;
	font-size: 18px;
	margin-top: 5px;
}

.promo {
	padding-top:45px;
	padding-bottom: $s-size;
	overflow: hidden;
	background-image: url("../i/bg_pttrn_grad.jpg");
	background-repeat: repeat-x;
	background-color: $white-color;
}

.promo-center {
	@extend %center;
}

.promo-big {
	width: $b-size * 2 + $s-size;
	height: $b-size * 2 + $s-size;
	background-color: $white-color;
	margin-right: $s-size;
	background-image: url("../i/promo_big.jpg");
	position: relative;
	float: left;
}

.promo-big-texts {
	width: 340px;
	position: absolute;
	bottom: 20px;
	right:20px;
	color: $white-color;
	@include roboto;
	
	.big-font {
		font-size: 48px;
		line-height: 38px;
		font-weight: 400;
	}

	.small-font {
		font-size: 24px;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 4px solid $white-color;
	}
}

.promo-small {
	width: $b-size;
	height: $b-size * 2 + $s-size;
	float: left;
	position: relative;
	margin-right: $s-size;
	@include roboto;
	font-size: 22px;

	.about {
		display: block;
		background-image: url("../i/promo_01.jpg");
		background-size: 100%;
		background-position: center;
		height: $b-size;
		margin-bottom: $s-size;
		position: relative;
		color: $white-color;
		@include animation;

		span {
			width: $b-size - 60px;
			display: block;
			position: absolute;
			bottom: 20px;
			right:20px;
		}
	}

	.about:hover {
		background-size: 110%;
	}

	.portfolio {
		display: block;
		background-image: url("../i/promo_02.jpg");
		background-position: center;
		background-size: 100%;
		height: $b-size;
		position: relative;
		color: $white-color;
		@include animation;

		span {
			width: $b-size - 60px;
			display: block;
			position: absolute;
			bottom: 20px;
			right:20px;
		}
	}

	.portfolio:hover {
		background-size: 110%;
	}
}

.promo-news {
	width: $b-size;
	height: $b-size * 2 + $s-size;
	float: right;
	position: relative;
	background-color: $white-color;
	overflow: hidden;
	font-size:13px;
	line-height: 22px;

	.index-news-grad {
		width: $b-size;
		height: 40px;
		background-image: url("../i/index_news_grad.png");
		position: absolute;
		bottom: 0;
	}

	.title {
		display: block;
		background-color: $d-red-color;
		height: 45px;
		line-height: 45px;
		color: $white-color;
		padding-left: $s-size;
		@include roboto;
		font-size: 22px;
		text-decoration: none;
		margin-bottom: $s-size;
	}

	.title:hover {
		background-color: $link-color;
	}

	.item {
		margin: 0 $s-size $s-size $s-size;

		.date {
			font-size: 11px;
		}
	}
}

.services {
	background-color: $white-color;
	overflow: hidden;
	font-size:13px;
	line-height: $s-size;
	color: #555;
	padding-bottom: $s-size;
}

.services-center {
	@extend %center;
	display: flex;
	justify-content: space-between;

	.item {
		width: $b-size;
		float: left;
	}

	.title {
		display: block;
		@include roboto;
		font-size: 18px;
		font-weight: 700;
		margin: $s-size 0;
	}
}

.f-nav {
	padding: $s-size 0 0 0;
}

.f-nav-center {
	@extend %center;
	overflow: hidden;

	ul {
		width: $b-size - 50px;
		float: left;
		margin-right: $s-size;
		@include roboto;
		font-size: 22px;

		a {text-decoration: none;color:#555;}
		a:hover {color:$link-color;}

		li ul {
			font-size: 13px;
			@include tahoma;
			margin: $s-size 0;

			li {
				margin-bottom: 15px;
			}
		}
	}

	// ul:nth-of-type(5n) {
	// 	margin-right: 0;
	// }

	ul.n-inline {
		margin-right: 0;
		margin-bottom: $s-size;
	}
}

.footer {
	background-color: rgba(0,0,0,0.1);
	padding: $s-size 0;
}

.footer-center {
	@extend %center;
	position: relative;

	.info{
		font-size: 13px;
		line-height: $s-size;
		color: #555;
	}

	img {
		display: block;
		position: absolute;
		right: 0;
		top:$s-size;
	}
}

.content {
	background-image: url("../i/bg_pttrn_grad.jpg");
	background-repeat: repeat-x;
	background-color: $white-color;
	overflow: hidden;
}

.content-title {
	@extend %center;
	padding: 30px 0;

	.path {
		font-size: 13px;
		margin-bottom: 8px;
	}
}

.content-center {
	@extend %center;
	background-color: $white-color;
	min-height:380px;
	margin-bottom: $s-size;

	.left-col {
		width: 680px;
		margin: 24px;
		float: left;
		font-size: 15px;
		line-height: $s-size;

		p {
			margin-top: 0;
			margin-bottom: $s-size;
		}
	}

	.right-col {
		width: 198px;
		margin-top: 24px;
		margin-right: 24px;
		float: right;
		line-height: 16px;
		font-size: 13px;

		ul li {
			margin-bottom: $s-size;
		}

		a.active-sublink {
			color: #000;
			text-decoration: none;
			cursor: default;
		}
	}
}

.one-col {
	.left-col {
		margin: 24px;
		width: 906px;
	}

	.right-col {
		display: none;
	}
}

.b-news-item {
	overflow: hidden;
	margin-bottom: $s-size;

	.date {
		width: 100px;
		margin-right: $s-size;
		float: left;
		font-size: 11px;
		text-align: center;
		border-right: 1px solid #ccc;
		padding-right: 20px;

		.date-number {
		font-size: 50px;
		line-height: 50px;
		@include roboto;
		font-weight: 700;
		}
	}

	.b-news-link{
		color: #555;
		height:70px;
		display: table-cell;
		vertical-align: middle;
	}

	.b-news-link:hover {
		color: $link-color;
	}
}

.pager {
	clear: both;
	width:$page-width;
	margin: $s-size auto;
	text-align: center;
	overflow: hidden;
	display:flex;
	justify-content:center;

	a {
		background-color: $link-color;
		width: 30px;
		display: block;
		float: left;
		margin-right: 1px;
		color: $white-color;
		text-decoration: none;
		padding: 5px;
		font-size: 13px;
	}

	:hover {
			background-color: $d-red-color;
		}

	.active {
		background-color: $white-color;
		color: #555;
		cursor: default;
	}

	.arr {
		background-color: $white-color;
		color: #555;
	}

	a.arr:hover {
		background-color: $d-red-color;
		color: $white-color;
	}
}

.gallery {
		overflow: hidden;

		a {
			display: block;
			width: 200px;
			height: 150px;
			float: left;
			margin: 0 $s-size $s-size 0;
			background-size: cover;
			background-position: center;
		}

		a:hover {
			opacity: 0.8;
		}
	}